<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Persil Service</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style media="all" rel="stylesheet" type="text/css">
        /* Base ------------------------------ */
        @import url('https://docs.persilservicecdn.com/fonts/MyriadPro-Regular.otf');
        @import url('https://docs.persilservicecdn.com/fonts/MyriadPro-Semibold.otf');
        @import url('https://docs.persilservicecdn.com/fonts/MyriadPro-Bold.otf');
        @import url('https://docs.persilservicecdn.com/fonts/MyriadPro-Light.otf');

        @font-face {
          font-family: "MyriadPro";
          src: url('https://docs.persilservicecdn.com/fonts/MyriadPro-Light.otf') format('opentype'),
          url('https://docs.persilservicecdn.com/fonts/MyriadPro-Regular.otf') format('opentype'),
          url('https://docs.persilservicecdn.com/fonts/MyriadPro-Semibold.otf') format('opentype'),
          url('https://docs.persilservicecdn.com/fonts/MyriadPro-Bold.otf') format('opentype');
          font-weight: normal;
          font-style: normal;
        }


        td, h1, h2, h3  {
            font-family: "MyriadPro", "Open Sans", Helvetica, Arial, sans-serif;
            font-weight: 400;
        }

        /**:not(br):not(tr):not(html) {*/
        /*  font-family: "MyriadPro", "Open Sans", Arial, Helvetica, sans-serif !important;*/
        /*  box-sizing: border-box;*/
        /*}*/



        body {
            width: 100% !important;
            height: 100%;
            margin: 0;
            line-height: 1.4;
            background-color: #efefef;
            color: #666666;
            -webkit-text-size-adjust: none;
        }

        p,
        ul,
        ol,
        blockquote {
            line-height: 1.4;
            text-align: left;
        }

        td {
            word-break: break-word;
        }

        /*Media Queries ------------------------------ */

        @media only screen and(max-width: 580px) {

            .email-body_inner,
            .email-footer {
                width: 100% !important;
            }
        }

        @media only screen and(max-width: 500px) {
            .button {
                width: 100% !important;
            }
        }
    </style>
</head>

<body style="width: 100% !important; height: 100%; margin: 0; line-height: 1.4; background-color: #fff; color: #666; -webkit-text-size-adjust: none;">
    <table cellpadding="0" cellspacing="0" class="email-wrapper" style="width: 100%; margin: 0; padding: 0; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; background-color: #fff; border-top: 8px solid #5EA598;" width="100%">
        <tr>
            <td align="center">
                <table cellpadding="0" cellspacing="0" class="email-content" style="width: 100%; margin: 0; padding: 0; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0;"  width="100%">
                    <tr>
                        <td>
                            <div>
                            <table align="center" cellpadding="0" cellspacing="0" class="email-body_inner header" style="width: 580px; margin: 0 auto; padding: 0 0 20px; -premailer-width: 580px; -premailer-cellpadding: 0; -premailer-cellspacing: 0;">
                                <tr>
                                    <td align="center" class="email-masthead"
                                        style="padding: 50px 0 15px; text-align: center;">
                                        <a href="https://persil-service.de" style="color: #0645AD;">
                                            <img class="email-masthead_logo" style="width: 140px; 140px; border: none;"
                                                src="https://docs.persilservicecdn.com/persil.png"
                                                alt="" width="140" height="140" />
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-cell" style="padding: 20px;">
                                        <div data-section-wrapper="1">
                                      <!--- START CONTENT --->
                                            <table data-section="1" cellspacing="0" cellpadding="0" style="margin-bottom:40px; width:100%;">
                                                <tr>
                                                    <td data-slot-container="1">
                                                         <div align="center" style="margin-top: 0; color: #666666; font-size: 18px; font-weight: 300; line-height: 24px; text-align: center;">
                                                             <div data-slot="text" style="width:100%">
                                                                <strong style="color:#000">Hallo {contactfield=salutation} {contactfield=lastname},</strong>
                                                            </div>
                                                         </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table data-section="1" cellspacing="0" cellpadding="0" style="margin-bottom:40px; width:100%;">
                                                <tr>
                                                    <td data-slot-container="1">
                                                         <div align="center" style="margin-top: 0; color: #666666; font-size: 18px; font-weight: 300; line-height: 24px; text-align: center;">
                                                            <div data-slot="text">
                                                                der Persil Service wartet auf Sie. Vergessen Sie nicht unser Angebot zu nutzen und Ihren Gutschein einzulösen. Dieser ist nur noch 3 Tage gültig!
                                                            </div>
                                                         </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table data-section="1" cellspacing="0" cellpadding="0" style="width:100%;">
                                                <tr>
                                                    <td data-slot-container="1">
                                                        <div style="margin-top: 0; color: #666666; font-size: 18px; font-weight: 300; line-height: 24px; text-align: center;">
                                                             <div data-slot="text">
                                                                Liebe Grüße<br />
                                                                <strong style="color:#000">Ihr Persil Service Team</strong>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td data-section-wrapper="1" class="content-cell" style="padding: 20px;">
                                        <table data-section="1" cellspacing="0" cellpadding="0" style="width:100%">
                                            <tr>
                                                <td data-slot-container="1">
                                                     <!-- Action -->
                                                         <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; margin: 30px auto; padding: 0; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; text-align: center;">
                                                            <tr>
                                                               <td align="center">
                                                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                     <tr>
                                                                        <td align="center">
                                                                           <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
                                                                              <tr>
                                                                                 <td>
                                                                                    <div class="button" data-slot="button" data-param-link-text="Gutschein sichern" data-param-href="https://persil-service.de" data-param-background-color="#E40000" data-param-color="ffffff" align="center">
                                                                                        <a href="{{data.link}}" class="button" style="background-color: #E40000; border-top: 20px solid #E40000; border-right: 60px solid #E40000; border-bottom: 20px solid #E40000; border-left: 60px solid #E40000; display: inline-block; color: #FFF; text-transform: uppercase; text-decoration: none; -webkit-text-size-adjust: none; font-size: 14px; font-weight: 800;" target="_blank">Gutschein Sichern</a>
                                                                                        <div style="clear:both"></div>
                                                                                    </div>
                                                                                 </td>
                                                                              </tr>
                                                                           </table>
                                                                        </td>
                                                                     </tr>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                         </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                              <!--- END CONTENT --->
                            </table>
                        </td>
                    </tr>
                    <!-- Email Body -->
                    <tr>
                        <td cellpadding="0" cellspacing="0" class="email-body"
                            style="width: 100%; margin: 0; padding: 0; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; background-color: #5EA598;"
                            width="100%">
                            <table align="center" cellpadding="0" cellspacing="0" class="email-body_inner contact"
                                style="width: 580px; margin: 0 auto; padding: 20px 20px 0; -premailer-width: 580px; -premailer-cellpadding: 0; -premailer-cellspacing: 0;">
                                <!-- Body content -->
                                <tr>
                                    <td style="padding-bottom: 25px">
                                        <h3
                                            style="margin-top: 0; padding-top: 10px; color: #fff; font-size: 24px; font-weight: 800; text-align: left; margin-bottom: 4px;">
                                            Haben Sie Fragen? Wir sind für Sie da:</h3>
                                    </td>
                                </tr>
                            </table>
                            <table align="center" cellpadding="0" cellspacing="0" class="email-body_inner contact"
                                style="width: 580px; margin: 0 auto; padding: 0 20px 7px; -premailer-width: 580px; -premailer-cellpadding: 0; -premailer-cellspacing: 0;">
                                <tr>
                                    <td width="34">
                                        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/1a5019bea9f7f61250925aac9c349d1330e43f84b6f421e06954e67c4cc467a24da60270386c6218b2ca39a46a09ecfa4e2e28ddc36b842b05b9b2a5428318f6.png"
                                            style="width: 34px; height: 26px;" alt="E-Mail" width="34" height="26">
                                    </td>
                                    <td>
                                        <p
                                            style="color: #fff; font-size: 18px; font-weight: 300; line-height: 18px; text-align: left; margin: 0; padding-left: 10px;">
                                            support@persil-service.de</p>
                                    </td>
                                </tr>
                            </table>
                            <table align="center" cellpadding="0" cellspacing="0" class="email-body_inner contact"
                                style="width: 580px; margin: 0 auto; padding: 0 20px 7px; -premailer-width: 580px; -premailer-cellpadding: 0; -premailer-cellspacing: 0;">
                                <tr>
                                    <td width="34">
                                        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/dc293c056a5e9b226aa7678ef8a85f65f83301f8f4e501be36b85714ab5118f9df07ada96e90264cb13f760ac160f0be9bdc0ddf0f805def9c23c3b3ae520fbe.png"
                                            style="width: 34px; height: 34px;" alt="Hotline" width="34" height="34">
                                    </td>
                                    <td>
                                        <p
                                            style="color: #fff; font-size: 18px; font-weight: 300; line-height: 18px; text-align: left; margin: 0; padding-left: 10px;">
                                            0800 7377451</p>
                                    </td>
                                </tr>
                            </table>
                            <table align="center" cellpadding="0" cellspacing="0" class="email-body_inner contact"
                                style="width: 580px; margin: 0 auto; padding: 0 20px 20px; -premailer-width: 580px; -premailer-cellpadding: 0; -premailer-cellspacing: 0;">
                                <tr>
                                    <td width="34">
                                        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/2f7d3aad0ef94e8b75ed0109e729f6f58b7a27a99e505b503739e599717fc3ab1494dbe651aacdb33740b531e502b7ea9ca18c182e3f06fed01b43b917214906.png"
                                            style="width: 34px; height: 34px;" alt="Uhrzeit" width="34" height="34">
                                    </td>
                                    <td>
                                        <p
                                            style="color: #fff; font-size: 18px; font-weight: 300; line-height: 18px; text-align: left; margin: 0; padding-left: 10px;">
                                            Mo. bis
                                            Fr. von 08:00 bis
                                            18:00 Uhr</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background: #fff;">
                            <table align="center" cellpadding="0" cellspacing="0" class="email-footer"
                                style="width: 580px; margin: 0 auto; padding: 0; -premailer-width: 580px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; text-align: center;">
                                <tr>
                                    <td align="center" class="content-cell" style="padding: 20px 20px 0">
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="content-cell" style="padding: 20px 20px 10px">
                                        <p align="center"
                                            style="margin-top: 0; color: #666666; font-weight: 300; text-align: center; font-size: 14px; line-height: 16px;">
                                            <a href="https://www.persil-service.de/#/impressum"
                                                style="color: #0645AD;">Impressum & Rechtliches</a>
                                        </p>
                                        <p align="center"
                                            style="margin-top: 0; color: #666666; font-weight: 300; text-align: center; font-size: 14px; line-height: 16px;">
                                            © {{ "now"|date("Y") }} Persil Service GmbH
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>